* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    box-shadow: none;
    border: 0;
    background-color: transparent;
}

html {
    font-family: sans-serif;
    font-size: x-large;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    color: ghostwhite;
    display: flex;
    justify-content: stretch;
}
header > h1 {
    flex: 1;
}
header input {
    transform: scale(2) translatex(-50%) translatey(-20%);
}

header label {
    align-self: flex-end;
    padding: 0 10px 5px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    overflow-y: auto;
    flex: 1;
}

article {
    border: 2px solid blueviolet;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}
article > h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: wheat;
}
article > p {
    flex: 1;
    background-color: cornflowerblue;
    transition: transform 1s ease-in-out;

    display: none;
}
article svg {
    transition: transform 0.3s ease-in-out;
}

article.selected {
    border: 5px solid red;
}
article.selected > p {
    display: block;
}
article.selected svg {
    
   transform: rotate(180deg);
}

footer {
    background-color: black;
    color: ghostwhite;
    padding: 10px;
}